form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 100em;
    background-size: 100%;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    color: tomato;
    font-size: 30px;
    text-shadow: darkslategray 1px 1px;
    padding: 50px;
}

label {
    display: flex;
    flex-direction: column;
    width: 10em;
    
}

button {
    width: 10em;
    height: 4em;
}

#name {
    width: 10em;
    height: 4em;
}